
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Activitar Template">
    <meta name="keywords" content="Activitar, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Activitar | Template</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,600,700,800,900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald:300,400,500,600,700&display=swap" rel="stylesheet">

    <!-- Css Styles -->
    <link rel="stylesheet" href="/static/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="/static/css/nice-select.css" type="text/css">
    <link rel="stylesheet" href="/static/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/static/css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="/static/css/style.css" type="text/css">
</head>

<body>
    <!-- Page Preloder -->
    <div id="preloder">
        <div class="loader"></div>
    </div>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container-fluid">
            <div class="logo">
                <a href="/">
                    <img src="/static/img/logo.png" alt="">
                </a>
            </div>
            <div class="top-social">
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-linkedin"></i></a>
                <a href="#"><i class="fa fa-pinterest-p"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
            </div>
            <div class="container">
                <div class="nav-menu">
                    <nav class="mainmenu mobile-menu">
                        <ul>
                            <li class="menu-active"><a href="/admin_home">Home</a></li>
                            <!-- <li><a href="./about-us.html">About us</a></li> -->
                            <!-- <li><a href="./schedule.html">Schedule</a></li> -->
                            <!-- <li><a href="/gallery">Gallery</a></li> -->
                            <li><a href="#">Manage</a>
                                <ul class="dropdown">
                                    <li><a href="/reg_employee">Employee</a></li>
                                   <!-- <li><a href="/reg_physician">Physician</a></li> -->
                                </ul>
                            </li>
                            <li><a href="admin_verify_user">Verify And Allot</a></li>	
                            <li><a href="admin_add_new_batches">Add New Batches</a></li>			          
                             <!-- <li><a href="admin_allot_user_gym_instructor">Allot</a></li> -->
                            <li><a href="#	">View</a>
                                <ul class="dropdown">
                                    <li><a href="/admin_view_payment">Payment</a></li>
                                    <!--<li><a href="/admin_view_complaints">complaint</a></li>-->
                                    <li><a href="/admin_view_feedback">Feedback</a></li>
                                </ul>
                            </li>
                             <li><a href="/">Logout</a></li>
                            <!-- <li><a href="/login">Login</a></li> -->
                        </ul>
                    </nav>
                </div>
            </div>
            <div id="mobile-menu-wrap"></div>
        </div>
    </header>

     <section class="hero-section">
        <div class="hero-items owl-carousel">
            <div class="single-hero-item1 set-bg" data-setbg="/static/img/hero-slider/hero-1.jpg">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="hero-text">
                                <h2>REAL FITNESS</h2>
									
                                <h1>DEPENDS ON EXERCISE</h1>
                                <!-- <a href="#" class="primary-btn">Read More</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>










				          
				        
				          <!-- <li><a href="/login">Login</a></li> -->
				          
				          
				         
				          
				          
				          
				          
				         
				  
			
                    <!-- <a href="admin_register_employee">Employee</a>&nbsp;
					<a href="admin_register_physician">Physician </a>&nbsp;
					<a href="admin_verify_user"> Verify User</a>&nbsp;
					<a href="admin_add_new_batches">Add New Batches </a>&nbsp;
					<a href="admin_allot_user_gym_instructor"> Allot</a>&nbsp;
					<a href="admin_view_feedback"> Feedback </a>&nbsp;
					<a href="admin_view_attendance_user"> User Attendance</a>&nbsp;
					<a href="admin_view_payment">Payment </a>&nbsp;
					<a href="admin_view_complaint"> complaint</a>&nbsp;
					<a href="/">logout</a>
 -->