{% include 'admin_header.html' %}

    <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="table">
							<table align="center" border="2" class="table" style="width: 500px">
								<form method="post">
							<h2 align="center" style="color: white;">ATTENDANCE</h2>
							<thead>
								<tr>
									<th style="color: white;">User Name</th>
									<th style="color: white;">Date</th>
									<th style="color: white;">Starting Hour</th>

									<th style="color: white;" >Ending Hour</th>
							
								</tr>
							</thead>
							<tbody>
								{% for row in data['attendance'] %}
								<tr>
									<td style="color: white;">{{row['first_name']}} {{row['last_name']}}</td>
									<td style="color: white;">{{row['date']}}</td>
									<td style="color: white;">{{row['starting_hour']}}</td>
									
									<td style="color: white;">{{row['ending_hour']}}</td>
								
									
								</tr>
								{% endfor %}

							</tbody>
							</form>
						</table>

						</div>												
					</div>
				</div>
			</section>




{% include 'footer.html' %}