{% include 'admin_header.html' %}

    <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="table">
                
							
							<table align="center">
								<form method="post">
									{% if ob %}
									<table align="center"  class="table" style="width: 500px;">
									<h1 align="center" style="color: white;">UPDATE EMPLOYEE</h1>
									<tr>
										<th style="color: white;">First Name</th>
										<td><input required type="text" name="ufname" value="{{ob.first_name}}" required="" class="form-control"></td>
									</tr>
									<tr>
										<th style="color: white;">Last Name</th>
										<td><input required type="text" name="ulname" value="{{ob.last_name}}" required="" class="form-control"></td>
									</tr>
									
									
									<tr>
										<th style="color: white;">Phone</th>
										<td><input required minlength="10" min="0" pattern="{0-9}[10]" type="number" name="uphone" value="{{ob.phone}}" required="" class="form-control" pattern="[0-9]{10}"></td>
									</tr>
									<tr>
										<th style="color: white;">Email</th>
										<td><input type="email" name="uemail" value="{{ob.email}}" required="" class="form-control"></td>
									</tr>

									<tr>
										<td align="center" colspan="2"><input class="btn btn-primary btn-sm" type="submit" name="uemployee" value="UPDATE"></td>
									</tr>
										
										</form>
								</table>

							{% else %}

									<table align="center" class="table" style="width: 500px;" >
										<form method="post">
										
									<h1 align="center" style="color: white;">EMPLOYEE REGISTRATION</h1>
									<tr>
										<th style="color: white;">First Name</th>
										<td><input type="text" name="fname" required="" class="form-control"></td>
									</tr>
									<tr>
										<th style="color: white;">Last Name</th>
										<td><input type="text" name="lname" required="" class="form-control"></td>
									</tr>
									<tr>
										<th style="color: white;">User Name</th>
										<td><input type="text" name="user" required="" class="form-control"></td>
									</tr>
									<tr>
										<th style="color: white;">Password</th>
										<td><input type="password" name="pass" required="" class="form-control" minlength="8" maxlength="16"></td>
									</tr>
									<tr>
										<th style="color: white;">Age</th>
										<td><input type="text" name="age" required="" class="form-control" ></td>
									</tr>
									
									<tr>
										<th style="color: white;">Gender</th>
										<td style="color: white;"><span style="font-size: 20px !important;">Male</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="male" checked="" > &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
											<span style="font-size: 20px !important;">Female</span>&nbsp;&nbsp;&nbsp;&nbsp;<input type="radio" name="gender" value="female" ></td>
									</tr>
									<tr>
										<th style="color: white;">Phone</th>
										<td><input type="number" name="phone" required="" class="form-control" pattern="[0-9]{10}" min="0" ></td>
									</tr>
									<tr>
										<th style="color: white;">Email</th>
										<td><input type="email" name="email" required="" class="form-control"></td>
									</tr>

									<tr>
										<td align="center" colspan="2"><input class="btn btn-primary btn-sm" type="submit" name="employee" value="REGISTER"></td>
									</tr>

								</table>
									
								</form>
							</table>

							{% endif %}

									

										<table border="2" align="center"  class="table" style="width: 1000px;color:#fff;">
			<h3 align="center" style="color:#fff;">REGISTERED EMPLOYEE</h3>
			<br><br>
			<thead>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Age</th>
				<th>Gender</th>
				<th>Phone</th>
				<th>Email</th>
				<th>Manage</th>
			</thead>
			<tbody>
				{% for row in qa%}
				<tr>
					<td>{{ row.first_name }}</td>
					<td>{{ row.last_name }}</td>
					<td>{{ row.age }}</td>
					<td>{{row.gender }}</td>
					<td>{{ row.phone }}</td>
					<td>{{ row.email }}</td>
					<td><a href="/admin_update_emp/{{row.instructor_id}}" class="btn btn-info">Update</a>
						<a href="/admin_delete_emp/{{row.instructor_id}}" class="btn btn-danger">Delete</a></td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</form>
</table>
            </div>
        </div>
    </section>






{% include 'footer.html' %}