{% include 'employee_header.html' %}

   <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            <div class="table">
                					

																	
								<table>
									<form method="post" enctype="multipart/form-data">
										<table align="center" style="color: white;">
											<h2 align="center" style="color: white;">Add Attendance</h2>
											<tr>
												<th> User Name</th>
												<td>
													<select name="user_id" required="">
														<option selected>Select User</option>
														{%for row in data['user_details']%}
														<option value="{{row['user_id']}}">{{row['first_name']}} {{row['last_name']}}</option>
														{% endfor %}
													</select>
												</td>
											</tr>
											<tr>
												<th>Date</th>
												<td><input type="date" required="" name="date"></td>
											</tr>
											<tr>
												<th>Starting Hour</th>
												<td><input type="text" required="" placeholder="hh:mm-AM/PM" name="stime"></td>
											</tr>
											<tr>
												<th>Ending Hour</th>
												<td><input type="text" placeholder="hh:mm-AM/PM" name="etime"></td>
											</tr>

											<tr>
												<td colspan="2" align="center"><input type="submit" class="btn btn-primary" name="attendance" value="ADD"></td>
											</tr>
											
									 	</table>
									</form>
								</table>

							

									

										<table border="2" align="center"  class="table" style="width: 1000px;color:#fff;">
			<h3 align="center" style="color:#fff;"> Attendance Details</h3>
			<br><br>
			<thead>
				<th>User Name</th>
				<th>Date</th>
				<th>Starting Hour</th>
				<th>Ending Hour</th>
				<th>Manage</th>
			</thead>
			<tbody>
				{% for row in data['attendance_details']%}
				<tr>
					<td>{{ row['first_name'] }} {{ row['last_name'] }}</td>
					<td>{{ row['date'] }}</td>
					<td>{{ row['starting_hour'] }}</td>
					<td>{{ row['ending_hour'] }}</td>
					<td><a href="?action=delete&id={{ row['attendance_id'] }}">Delete</a></td>
					
				</tr>
				{% endfor %}
			</tbody>
		</table>

	</form>
</table>
            </div>
        </div>
    </section>







<!-- 
<table>
	<form method="post">
		<table align="center">
			<h2>Manage Equipments</h2>
			<tr>
				<th>Equipment Name</th>
				<td><input type="text" name="eqname"></td>
			</tr>
			<tr>
				<th>Description</th>
				<td><textarea name="description"></textarea></td>
			</tr>
			<tr>
				<th>Image</th>
				<td><input type="file" name="image"></td>
			</tr>
			<tr>
				<td><input type="submit" name="equipment" value="ADD"></td>
			</tr>
			
		</table>
	</form>
</table> -->
{% include 'footer.html' %}