{% include 'employee_header.html' %}
<section class="feature-section">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="/static/img/feature/feature-1.jpg">
                        <h3>GROUP CLASSES</h3>
                        <p>The Sopranos manages to address the biases<br /> and benefits of therapy</p>
                        <!-- <a href="#" class="primary-btn f-btn">Read More</a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="/static/img/feature/feature-2.jpg">
                        <h3>PERSONAL TRAINING</h3>
                        <p>Strep throat is very common during the flu<br /> seasons and it can be preceded</p>
                        <!-- <a href="#" class="primary-btn f-btn">Read More</a> -->
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-item set-bg" data-setbg="/static/img/feature/feature-3.jpg">
                        <h3>Sports Nutrition</h3>
                        <p>A Human Being’s right to life implies his right to<br /> have the free and unrestricted</p>
                        <!-- <a href="#" class="primary-btn f-btn">Read More</a> -->
                    </div>
                </div>
            </div>
        </div>
    </section>

       <section class="home-about spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <h2>WELCOME TO CROSSFIT</h2>
                        <p class="short-details">CrossFit is a cutting-edge functional fitness system that can help
                            everyday men.</p>
                        <p class="long-details">Success isn’t really that difficult. There is a significant portion of
                            the population here in North America, that actually want and need success to be hard! For
                            those of you who are serious about having more, doing more, giving more and being more.</p>
                        <!-- <a href="#" class="primary-btn about-btn">Learn More</a> -->
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="/static/img/home-about.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

{% include 'footer.html' %}