{% include 'user_header.html' %}

   <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
            {%if val%}
            <h1 style="color: #fff;">{{val}}</h1>
                    {%if val == 'Payment Pending' %}
                    <p><a href="/user_make_payment" class="btn btn-info" style="color: #fff;">Make Payment</a></p>
                    {%endif%}
            {%else%}
            <div class="table">
	<table border="2" align="center"  class="table" style="width: 1000px;color:#fff;">
			<h3 align="center" style="color:#fff;"> Attendance details</h3>
			<br><br>
			<thead>
                <th>Date</th>
				<th>Status</th>
			</thead>
			<tbody>
				{% for i in obj %}
            <tr>
                <td>{{i.date}}</td>
                <td>{{i.status}}</td>
            </tr>
            {%endfor%}
			</tbody>
		</table>

	</form>
</table>
            </div>
            {%endif%}
        </div>
    </section>





{% include 'footer.html' %}
