{% include 'user_header.html' %}

   <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <!-- <h2>Classtime Table</h2> -->
                    </div>
                </div>
            </div>
            <!-- <div class="row">
                <div class="col-lg-12">
                    <div class="timetable-controls">
                        <ul>
                            <li class="active" data-tsfilter="all">all class</li>
                            <li data-tsfilter="crossfit">crossfit</li>
                            <li data-tsfilter="lunge">lunge ball</li>
                            <li data-tsfilter="ppsr">ppsr</li>
                            <li data-tsfilter="walls">walls</li>
                            <li data-tsfilter="candy">candy</li>
                        </ul>
                    </div>
                </div>
            </div> -->
          {%if ob1%}
<table align="center" class="table table-striped">
    <tr>
        <th style="color: #fff;">Physician Name : {{ob1.physician.first_name}} {{ob1.physician.first_name}}</th>
        <p  style="color: #fff;">Booked</p>
        
    </tr>


</table>
{%else%}
            <div class="table">
                <form action="" method="post">
	<table border="2" align="center"  class="table" style="width: 1000px;color:#fff;">
			<h3 align="center" style="color:#fff;"> Message</h3>
			<br><br>

                <tr>
                    <th style="color: #fff;">Message : </th>
                    <td><textarea name="msg" id="" cols="30" rows="10"></textarea></td>
                </tr>
                <tr>
                    <td colspan="2" align="center"><input type="submit" name="submit"></td>
                </tr>
            </table>

</form>

<table align="center">
    <tr>
        <th style="color: #fff;">Message</th>
        <th style="color: #fff;">Date</th>
        <th style="color: #fff;">Reply</th>
    </tr>
    {%for row in ob%}
    <tr>
        <td style="color: #fff;">{{row.message_description}}</td>
        <td style="color: #fff;">{{row.message_date}}</td>
        <td style="color: #fff;">{{row.message_reply}}</td>
    </tr>
    {%endfor%}
</table>

            </div>

        </div>
        {%endif%}
    </section>





{% include 'footer.html' %} 